
body {
    margin: 0;
    font-family: 'Arial';
}

body::-webkit-scrollbar {
    width: 0;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
}

#head .logo {
    margin: auto 10px;
    width: 23px;
    height: 50px;
    background-image: url("images/nozhik.png");
    background-size: cover;
}

#head .container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 750px;
    height: 70px;
    background-color: white;
}

#head h1 {
    margin: auto 0;
    font-size: 27px;
}

#head hr {
    width: 1000px;
}

.pages {
    display: flex;
    justify-content: center;
    background: rgb(76,186,255);
    background: linear-gradient(162deg, rgba(76,186,255,1) 0%, rgba(219,101,0,1) 84%);
}

.pages .page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    overflow: hidden;

    margin: 20px;

    text-align: center;

    width: 350px;
    height: 550px;

    border: 2px solid black;
    border-radius: 5px;


    transition: 0.3s;
}

.pages .page header {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.pages .page .container {
    margin-top: 120px;
    padding: 0 20px;

    width: 313px;
    height: 553px;

    position: absolute;
    overflow: hidden;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
    top: 200px;
    z-index: -1;
    transition: 0.5s;

    backdrop-filter: blur(0px);
}

.pages .page:hover {
    transform: scale(1.02);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    border: 2px solid white;
}

.pages .page:hover .container {
    position: absolute;
    top: -121px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}


#copper_riot {
    background-image: url("images/copper_riot.png");
    background-size: cover;
}

#salt_riot {
    background-image: url("images/salt_riot.png");
    background-size: cover;
}

#stepan_razin {
    background-image: url("images/stepan_razin.png");
    background-size: cover;
}

.content {
    padding: 10px 30px;
    width: 1150px;
    margin: 0 auto;
    background-color: white;
}

.content p {
    font-size: 19px;
}

#foot {
    padding: 15px;
    background-color: black;
    color: white;
}

#foot main {
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin: auto auto;
    width: 1160px;
    height: 100%;
}

#foot .logo {
    margin: auto 0;
    width: 84px;
    height: 60px;
    background-image: url("images/ithub.png");
    background-size: contain;
}

#foot .description {
    margin: auto 0;
    margin-left: 15px;
    width: 550px;
    font-size: 10px;
    text-align: center;
}

#foot .menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 40px;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
}

#foot .menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#foot .menu a:visited {
    color: white;
}

#foot .rights {
    text-align: center;
    font-size: 10px;
}

#foot hr {
    text-align: center;
}

.tooltip {
    color: blue;
}

#tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.7;
    border-radius: 5px;
  }