
h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

ul {
    display: block;
    font-size: 18px;
}

li {
    margin: 8px 0;
}

img {
    transition: transform 1s ease;
}

.images {
    overflow: hidden;
    position: relative;
}

.text-block {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 1s ease;
}

.text {
    margin: 8px;
}

.images:hover img {
    transform: scale(1.05);
}

.images:hover .text-block {
    opacity: 0.7;
}

.copper_riot {
    background-position: 0 10%;
    background-size: 100%;
}

.block {
    display: inline-block;
    width: 90%;
    vertical-align: text-top;
}

.content {

}

.row {

}

.block_with_img {
    width: auto;
}



@media(min-width: 320px) {

    #img1 img {
        width: 100%;
    }

    #img1 {
        margin-top: 10px;
    }

    #img2 img {
        width: 100%;
    }

    #img2 {
        margin-bottom: 10px;
    }

    .copper_riot {
        background-position: center;
        background-size: 768px;
        background-repeat: no-repeat;
    }
}

@media(min-width: 768px) {

    .copper_riot {
        background-position: center 0;
        background-size: 1024px;
        background-repeat: no-repeat;
    }

    #img1 {
        margin-top: 20px;
    }

    #img2 {
        margin-bottom: 20px;
    }
}

@media(min-width: 1024px) {

    ul {
        margin: 0;
    }

    #img1 {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px;
        width: 260%;
        height: 100%;
        margin-top: 0;
    }

    #img1 img {
        width: 100%;
    }

    #img2 {
        width: 130%;
        height: 100%;
        margin-top: 0;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .copper_riot {
        background-position: center 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}