<!DOCTYPE html>
<html>
    <head>
        <title>Бунташный век</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header id="head">
            <hr color="darkgray">
            <div class="container">
                <div class="logo"></div>
                <h1>Бунташный век</h1>
            </div>
            <hr color="darkgray">
          </header>

        <section class="preview stepan_rain" style="--background: url('template/images/Scenery_Sky_Mountains_356720.jpg')">
            <div class="blur"></div>
            <header>
                <h2>Восстание степана разина</h2>
                <p>Тут написана дата и краткие причины возникновения события
                    Тут написана дата и краткие причины возникновения события
                    Тут написана дата и краткие причины возникновения события
                    Тут написана дата и краткие причины возникновения события
                    Тут написана дата и краткие причины возникновения события
                </p>
            </header>
        </section>

        <main class="content">
            <section>
                <h2>Вот зачем ты это написал?</h2>
                <p>Я же говорил, что необязательно была печатать с помощью
                    клавиатуры этот бесполезный текст, ведь он совершенно
                    не несёт смысловой нагрузки и только отвлекает участника
                    команды от реальной работы
                </p>
            </section>
            <section>
                <h3>Причины, почему эта страница пустая:</h3>
                <nav>
                    <li>отсутствие идей</li>
                    <li>невыполнение своих обязанностей</li>
                </nav>
            </section>
            <section>
                <h2>Что мне не понятно?</h2>
                <p>Я не понимаю примерно всё, неужели на это влияет <span class="tooltip" data-tooltip="Центральный отдел нервной системы животных, обычно расположенный в головном отделе тела и представляющий собой компактное скопление нейронов и синапсов.">
                    мозг</span>?
                </p>
            </section>
            <section>
                <h3>Этот человек...</h3>
                <p>не знает ничего</p>
            </section>
        </main>

        <footer id="foot">
            <div class="menu">
                <ul>
                    <li><a href="../../index.html">Главная</a></li>
                    <li><a href="../about/index.html">О сайте</a></li>
                    <li><a href="../copper_riot/index.html">Медный бунт</a></li>
                    <li><a href="../salt_riot/index.html">Соляной бунт</a></li>
                    <li><a href="../stepan_rain/index.html">Восстание Степана Разина</a></li>
                </ul>
            </div>
            <hr width="900">
            <main>
                <div class="logo"></div>
                <div class="description">
                    Эта страница является внутренним ресурсом ИТ-колледжа ИТхаб-Екатеринбург и предназначена для использования ИСКЛЮЧИТЕЛЬНО студентами или преподавателями.
                    Если Вы не являетесь сотрудником или учащимся ИТхаб-Екатеринбург, или если Вы не получили разрешение на доступ от администрации колледжа - просим немедленно покинуть этот сайт.
                    Просим воздерживаться от неправомерного или неправомочного доступа.
                </div>
            </main>
            <p class="rights">2021, Все права защищены</p>
        </footer>

        <div id="tooltip"></div>

        <script type="text/javascript" src="../../js/jquery.min.js"></script>
        <script src="../../js/tooltip.js"></script>
    </body>
</html>