
body {
   background-color: white;
   
}

.stepan_rain {
    background-position: 0 -900px;
}

.nik{
    
   
    text-align: center;
    margin-bottom:40px;
    
}
.adrian{
  text-align: center;  

}
.adrian1{

}
.row{
    display:flex;
    justify-content: space-around;
}

.row:last-child {
    margin-top:40px;
}

.person {
    width:280px;
    height:400px;
    background-color:black;
    border: 2px solid gray;
    text-align: center;
    border-radius:10%;
    border: 2px solid rebeccapurple;
}
img{
border-radius: 10%;
border: 2px solid rebeccapurple;
}
.text1{
   margin-top:40px; 
   color:blue;
}