
.dark {
    color: white;
    background-color: #2F2E2E;
}

.dark #head .container {
    background-color: #2F2E2E;
}

.dark .content {
    background-color: #2F2E2E;
    /*background-color: #494747;*/
}

.dark .tooltip {
    color: #BD7100;
}

.dark a {
    color: #BD7100;
}
