.salt_riot {
    background-position: 0 -300px;
}

i {
    opacity: 0.7;
    font-weight: normal;
}

@media(min-width: 320px) {

    #img1 {
        margin-top: 10px;
        width: 100%;
    }

    .salt_riot {
        background-position: center;
        background-size: 1300px;
        background-repeat: no-repeat;
    }

    .preview {
        height: 680px;
    }

    .preview .blur {
        height: 680px;
    }
}

@media(min-width: 375px) {

    .preview {
        height: 620px;
    }

    .preview .blur {
        height: 620px;
    }
}

@media(min-width: 425px) {
    .preview {
        height: 550px;
    }

    .preview .blur {
        height: 550px;
    }
}

@media(min-width: 768px) {

    #img1 {
        margin-top: 20px;
    }

    .salt_riot {
        background-position: 0 -300px;
        background-size: auto;
    }

    .preview {
        height: 460px;
    }

    .preview .blur {
        height: 460px;
    }
}

@media(min-width: 1024px) {

    #paragraph2 {
        margin-right: -275px;
    }

    #img1 {
        margin: auto;
        margin-left: 20px;
        width: 520%;
        margin-bottom: 0;
    }
}

@media(min-width: 1280px) {

    #paragraph2 {
        margin-right: 0;
    }

    #paragraph3 {
        margin-right: -443px;
    }

    #img1 {
        margin: auto;
        margin-left: 20px;
        margin-top: 120px;
        width: 700%;
        bottom: 45px;
    }

    .preview {
        height: 480px;
    }

    .preview .blur {
        height: 480px;
    }
}

@media(min-width: 1921px) {

    .salt_riot {
        background-size: 100%;
    }

}