
h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

ul {
    padding-left: 20px;
    display: block;
    font-size: 18px;
}

li {
    margin: 8px 0;
}

img {
    transition: transform 1s ease;
}

.images {
    border-radius: 1%;
    overflow: hidden;
    position: relative;
}

.text-block {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 1s ease;
}

.text {
    margin: 8px;
}

.images:hover img {
    transform: scale(1.05);
}

.images:hover .text-block {
    opacity: 0.7;
}

.copper_riot {
    background-position: 0 10%;
    background-size: 100%;
}

.block {
    display: inline-block;
    width: 90%;
    vertical-align: text-top;
}

.line {
    margin-top: 50px;
    height: 1px;
}

.row {
    display: flex;
}

.block_with_img {
    width: auto;
}

@media(min-width: 320px) {

    #img4{
        margin: auto;
        width: 50%;
    }

    #img4 img{
        width: 100%;
        height: 100%; 
    }

    .preview {
        height: 506px;
    }

    .preview .blur {
        height: 506px;
    }

    .copper_riot {
        background-position: center;
        background-size: 1024px;
        background-repeat: no-repeat;
    }

    .map-image {
        margin: 0 auto;
        width: 290px;
        height: 350px;
        background-image: url('images/raz1.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #img1 {
        margin: auto;
        width: 50%;
    }

    #img1 img {
        width: 100%;
        height: 100%;
    }

    #img2 {
        width: 100%;
    }

    #img2 img {
        width: 100%;
        height: 100%;
    }

    #img3 {
        width: 100%;
    }

    #img3 img {
        width: 100%;
        height: 100%;
    }

}

@media(min-width: 360px) {

    .map-image {
        width: 330px;
        height: 400px;
    }

}

@media(min-width: 425px) {

    .map-image {
        width: 360px;
        height: 440px;
    }

}

@media(min-width: 768px) {

    .map-image {
        width: 500px;
        height: 600px;
    }

    #img4 {
        margin: auto;
        width: 30%;  
    }
  

    #img1 {
        margin: auto;
        width: 30%;
    }

    #img2 {
    }

    #img3 {
        margin-top: 10px;
    }
}

@media(min-width: 1024px) {

    .preview {
        height: 400px;
    }

    .preview .blur {
        height: 400px;
    }

    .copper_riot {
        background-position: 0 10%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .map-image {
        width: 550px;
        height: 680px;
    }

    #img1 {
        width: 70%;
        margin-left: 20px;
    }

    #img2 {
        width: 290%;
        margin: auto;
        margin-top: 20px;
        margin-right: 20px;
    }

    #img3 {
        margin: auto;
        width: 300%;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    #img4{
        width: 125%;
        
    }

    #minus-margin1 {
        margin-left: -374px;
    }
}

@media(min-width: 1280px) {

    #img1 {
        width: 55%;
    }

    #img2 {
        margin: 0;
        width: 500%;
        margin-right: 20px;
    }
    #img4 {
        width: 90%;
    }

    #paragraph1 {
        margin-top: 0;
    }

    #minus-margin1 {
        margin-left: 0;
    }

    #img3 {
        width: 200%;
        margin-left: 20px;
        bottom: 25px;
    }
}